# Server Configuration
NODE_ENV=development
PORT=5001
API_PREFIX=/api/v1

# Security & CORS
CORS_ORIGIN=*

# Logging
LOG_LEVEL=debug

# Database Configuration (MongoDB Atlas)
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@prasang-clr.oejdjug.mongodb.net/prasang?retryWrites=true&w=majority&appName=prasang-clr

# Authentication Configuration (Strategy: 'password' or 'otp')
AUTH_MODE=password
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
JWT_REFRESH_EXPIRES_IN=7d
OTP_EXPIRES_IN_MINUTES=5
DEFAULT_DEV_OTP=123456
