# Server Configuration
NODE_ENV=development
PORT=5001
API_PREFIX=/api/v1

# Security & CORS
CORS_ORIGIN=*

# Logging
LOG_LEVEL=debug

# Database Configuration (MongoDB Atlas)
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@prasang-clr.oejdjug.mongodb.net/prasang?retryWrites=true&w=majority&appName=prasang-clr
